header {

    height: 5vh;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav_menu {
    display: flex;
    list-style: none;
    gap: 20px;
}